.content-container {
    flex-grow: 6;
    height: calc(100vh - 14em);
    display: flex;
    justify-content: center;
    align-items: center;
    
    .content {
        background-color: #E9EEEE;
        padding: 4em 2em;
        display: flex;
        justify-content: center;
        border-radius: 0.32em;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
                    0 -2px 50px 0 rgba(0, 0, 0, 0.1);
    }

     @media screen and (max-width: 600px) {
        height: calc(100vh - 13.12em);

        .content {
            flex-direction: column;
        }
    }
}