$radius: 0.32em;

.face-detection-container {
    background: linear-gradient(115deg, rgba(208, 233, 13, 0.5) -1.88%, rgba(21, 54, 241, 0.6) 73.36%);
    border-radius: 0 $radius $radius 0;
    padding: 2em;
    width: 27vmax;
    display: flex;
    height: auto;

    .input-image {
        margin: auto;
        width: 100%;
    }
    
    @media screen and (max-width: 600px) {
        border-radius: 0 0 $radius $radius;
        width: auto;
        height: 40vmin;

        .input-image {
            margin: auto;
            height: 100%;
        }
    }
}